titanic datasını okuyunuz(<b>train.csv</b>). Ödevin geri kalanında dataframe gösterimlerini <b>display()</b> fonksiyonunu kullanarak yapınız.<br> Örn: display(titanic_df)

In [25]:
import pandas as pd 
import numpy as np
titanic_df = pd.read_csv("train.csv")
display(titanic_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Soru 1:

Kazada ölenlerin yaş ortalamasını bulunuz

In [26]:
titanic_df[titanic_df["Survived"]==0]["Age"].mean()

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [27]:
survived0FareMean = titanic_df[titanic_df["Survived"]==0]["Fare"].mean()
survived0FareMedian = titanic_df[titanic_df["Survived"]==0]["Fare"].median()

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [28]:
titanic_df[(titanic_df.Survived==0)&(titanic_df.Sex=="male")].Age.mean()

31.618055555555557

Kazada ölen Kadınların yaş ortalamasını bulunuz

# Soru 2:

Kazadan kurtulanların yaş ortalamasını bulunuz

In [29]:
titanic_df[titanic_df["Survived"]==1]["Age"].mean()

28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [30]:
titanic_df[titanic_df["Survived"]==1]["Fare"].mean()

48.39540760233917

Kazadan kurtulan toplam kişi sayısını bulunuz

In [31]:
titanic_df[titanic_df["Survived"]==1]["PassengerId"].count()

342

Kazadan kurtulan erkeklerin yaş ortalamasını bulunuz

In [32]:
titanic_df[(titanic_df.Survived==1)&(titanic_df.Sex=="male")]["Age"].mean()

27.276021505376345

Kazadan kurtulan kadınların yaş ortalamasını bulunuz

In [33]:
titanic_df[(titanic_df.Survived==1)&(titanic_df.Sex=="female")]["Age"].mean()

28.84771573604061

# Soru 3:

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [34]:
titanic_df[titanic_df["Age"]<10]["Fare"].median()

27.0

10 yaşından büyüklerin bilet fiyatlarının medyan değerini bulunuz

In [35]:
titanic_df[titanic_df["Age"]>10]["Fare"].median()

13.92915

# Soru 5:

1.sınıf, 2.sınıf ve 3.sınıf yolcuların ölüm oranlarını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [36]:
firstClassDeathRate = len(titanic_df[(titanic_df.Pclass==1) & (titanic_df.Survived==0)]) / len(titanic_df[titanic_df.Pclass==1])
secondClassDeathRate = len(titanic_df[(titanic_df.Pclass==2) & (titanic_df.Survived==0)]) / len(titanic_df[titanic_df.Pclass==2])
thirdClassDeathRate = len(titanic_df[(titanic_df.Pclass==3) & (titanic_df.Survived==0)]) / len(titanic_df[titanic_df.Pclass==3])
print("firstclass: %.2f percent, secondclass: %.2f percent, thirdclass: %.2f percent" %(firstClassDeathRate*100,secondClassDeathRate*100,thirdClassDeathRate*100))

print("Kaza esnasında ölenlerin oranı, yolculuk için ödedikleri bilet ücretiyle ters orantılı diyebiliriz.")

firstclass: 37.04 percent, secondclass: 52.72 percent, thirdclass: 75.76 percent
Kaza esnasında ölenlerin oranı, yolculuk için ödedikleri bilet ücretiyle ters orantılı diyebiliriz.

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarını karşılaştırınız

In [37]:
firstClassFare = titanic_df[titanic_df["Pclass"]==1]["Fare"].mean()
secondClassFare = titanic_df[titanic_df["Pclass"]==2]["Fare"].mean()
thirdClassFare = titanic_df[titanic_df["Pclass"]==3]["Fare"].mean()
print(f"Average fare of firstclass: {firstClassFare} > secondclass: {secondClassFare} > thirdclass: {thirdClassFare}")
print("Sınıf kalitesi ile ücretin doğru orantılı olduğunu ücret ortalamalarını hesaplayarak görebiliyoruz")

Average fare of firstclass: 84.15468749999992 > secondclass: 20.66218315217391 > thirdclass: 13.675550101832997
Sınıf kalitesi ile ücretin doğru orantılı olduğunu ücret ortalamalarını hesaplayarak görebiliyoruz

# Soru 6:

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [38]:
survived0female = len(titanic_df[(titanic_df.Survived==0)&(titanic_df.Sex=="female")]) / len(titanic_df.Sex=="female")
survived0male = len(titanic_df[(titanic_df.Survived==0)&(titanic_df.Sex=="male")]) / len(titanic_df.Sex=="male")
print("female death rate: %.2f percent, male death rate: %.2f" %(survived0female*100,survived0male*100))
print("")

female death rate: 9.09 percent, male death rate: 52.53

# Soru 7:

Kazada ölen erkeklerin ortalama bilet fiyatı ile kurtulan erkeklerin ortalama bilet fiyatını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [39]:
a = titanic_df[(titanic_df.Survived == 0)&(titanic_df.Sex == "male")]["Fare"].mean()
b = titanic_df[(titanic_df.Survived == 1)&(titanic_df.Sex == "male")]["Fare"].mean()
print(a,b)
print("Kurtulan erkeklerin ortalama bilet fiyatları, ölen erkeklerinden fazladır.")

21.960992948717944 40.82148440366974
Kurtulan erkeklerin ortalama bilet fiyatları, ölen erkeklerinden fazladır.

# Missing Value Doldurma

Bundan sonraki soruları <b>train_missing.csv</b> datasını kullanarak cevaplayınız.

# Soru 8

Age, Embarked ve Fare değişkenlerini mean/median/mode değerlerini kullanarak değişken tipine uygun olacak şekilde doldurunuz.

In [40]:
from sklearn.impute import SimpleImputer
missing_df = pd.read_csv("train_missing.csv")
imp = SimpleImputer(strategy="mean")
imp.fit(missing_df[["Age","Fare"]])
missing_df[["Age","Fare"]] = imp.transform(missing_df[["Age","Fare"]])
imp_mode = SimpleImputer(strategy = "most_frequent")
imp_mode.fit(missing_df[["Embarked"]])
missing_df[["Embarked"]] = imp_mode.transform(missing_df[["Embarked"]])

# Soru 9

SibSp değişkeni hangi yöntemler ile doldurulabilir, fikir yürütün. Uygun bir yöntem ile doldurun. (SibSp değişkeni kişilerin gemide bulunan kardeş/eş sayısını belirtiyor.)

In [45]:
print("Constant value kullanarak doldurabiliriz")
print("Kardeş/eş sayısı eğer boşsa yokluğu bize sıfırı ifade edebilir.")
print("Eğer bu değer girilmediyse, yok gibi düşünüp 0 ile doldurabilirim")
missing_df.SibSp.fillna(0).isnull().sum()

Constant value kullanarak doldurabiliriz
Kardeş/eş sayısı eğer boşsa yokluğu bize sıfırı ifade edebilir.
Eğer bu değer girilmediyse, yok gibi düşünüp 0 ile doldurabilirim

0

# Soru 10

Datayı baştan okuyun. Embarked değişkenini "NAN" şeklinde yeni bir kategorisi olacak şekilde doldurun.

In [42]:
df_new = pd.read_csv("train_missing.csv")
df_new.Embarked.fillna("NAN",inplace=True)

# Soru 11

"Fare" değişkeni için "Fare_Missing" adında yeni bir değişken türetip "Fare" değişkenini median ile doldurun.

In [43]:
na_indices = df_new.Fare[df_new.Fare.isnull()].index.to_list()
df_new.insert(10,"Fare_Missing",0)
df_new.loc[na_indices,"Fare_Missing"] = 1
df_new.Fare.fillna(df_new.Fare.median(),inplace = True)